Repository netresearch/t3x-cowriter: changes, and which Codecov flags are due for each by the changed paths.
All: php-unit, php-integration, php-e2e, php-functional, javascript

feat: add TYPO3 v13 ddev environment and landing page
  .ddev/apache/apache-site.conf
  .ddev/commands/web/install-all
  .ddev/commands/web/install-v13
  .ddev/config.yaml
  .ddev/docker-compose.web.yaml
  .ddev/web-build/Dockerfile
  .ddev/web-build/landing-index.html
  Makefile
Due: none

fix: include docs rendering in make up workflow
  .ddev/commands/web/docs
  Makefile
Due: none

fix: resolve composer dependency conflict for PHP 8.2-8.4
  composer.json
Due: none

feat: complete ddev demo environment with seed data and auto-activate RTE
  .ddev/commands/host/seed-pages
  .ddev/commands/web/install-v13
  .ddev/commands/web/install-v14
  .ddev/sql/seed-pages.sql
  Configuration/page.tsconfig
  Makefile
Due: none

fix: use configuration-based LLM routing, restore default RTE toolbar, fix Ollama pull
  .ddev/commands/host/ollama
  Classes/Controller/AjaxController.php
  Configuration/RTE/Cowriter.yaml
  Makefile
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

chore: require nr-llm ^0.3 for configuration-based chat methods on interface
  composer.json
Due: none

feat: add task-based cowriter dialog with execute endpoints
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Configuration/Backend/AjaxRoutes.php
  Configuration/JavaScriptModules.php
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/UrlLoader.test.js
  Tests/JavaScript/__mocks__/ckeditor5-core.js
  Tests/JavaScript/__mocks__/ckeditor5-ui.js
  Tests/JavaScript/__mocks__/typo3-backend-modal.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
  vitest.config.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

chore: add cowriter task seed data and ddev setup commands
  .ddev/commands/host/seed-cowriter-tasks
  .ddev/commands/web/install-v13
  .ddev/commands/web/install-v14
  .ddev/sql/seed-cowriter-tasks.sql
Due: none

docs: document task-based cowriter dialog with screenshots
  CHANGELOG.md
  Documentation/Configuration/Index.rst
  Documentation/Images/CowriterDialog.png
  Documentation/Images/CowriterDialogCropped.png
  Documentation/Images/CowriterToolbarButton.png
  Documentation/Introduction/Index.rst
  Documentation/Usage/Index.rst
  README.md
Due: none

fix: remove HTML encoding from JSON API responses, enable rich HTML content handling
  .ddev/sql/seed-cowriter-tasks.sql
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/CompleteResponse.php
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: add runtime editor capability detection for rich visual output
  .ddev/sql/seed-cowriter-tasks.sql
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Configuration/RTE/Cowriter.yaml
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
  docs/plans/2026-03-02-visual-enhancement-design.md
  docs/plans/2026-03-02-visual-enhancement.md
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: import Font and Highlight CKEditor modules in RTE preset
  Configuration/RTE/Cowriter.yaml
Due: none

fix: add merge_group trigger to CI workflow
  .github/workflows/ci.yml
Due: none

fix: address PR review comments
  Classes/Domain/DTO/CompleteRequest.php
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Domain/DTO/CompleteRequestFuzzTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: resolve TYPO3 v14 DI compilation for cache service
  .ddev/commands/web/install-all
  .ddev/commands/web/install-v14
  Classes/Service/RateLimiterService.php
  Configuration/Services.yaml
  Tests/Unit/Service/RateLimiterServiceTest.php
  ext_localconf.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: pass PHPUnit config path explicitly to infection
  .github/workflows/testing.yml
  infection.json5
Due: none

test: add streaming E2E tests, complete coverage, and ddev Ollama integration
  .ddev/commands/host/ollama
  .ddev/commands/host/seed-ollama
  .ddev/docker-compose.ollama.yaml
  .ddev/sql/seed-ollama.sql
  .github/workflows/testing.yml
  Makefile
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/CompleteRequestTest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
  Tests/Unit/Service/RateLimiterServiceTest.php
  infection.json5
Due: none

fix: use ajax_ prefix for TYPO3 backend route identifiers
  .ddev/commands/web/install-all
  .ddev/commands/web/install-v14
  .ddev/docker-compose.web.yaml
  Classes/EventListener/InjectAjaxUrlsListener.php
  Makefile
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

test: complete testing pyramid with 100% coverage, fuzz tests, and mutation testing
  .github/workflows/testing.yml
  Build/phpunit/E2ETests.xml
  Build/phpunit/FunctionalTests.xml
  Build/phpunit/IntegrationTests.xml
  Build/phpunit/UnitTests.xml
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/UrlLoader.test.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Domain/DTO/CompleteRequestFuzzTest.php
  codecov.yml
  composer.json
  infection.json5
Due: none

fix: resolve mutation testing and fuzz test CI failures
  .github/workflows/testing.yml
  Build/phpunit/phpunit.xml.dist
  Tests/Unit/Domain/DTO/CompleteRequestFuzzTest.php
  infection.json5
Due: none

refactor: clean separation of task templates and system context
  .ddev/sql/seed-cowriter-tasks.sql
  Classes/Controller/AjaxController.php
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat(context-zoom): add ContextAssemblyService for server-side content assembly
  Classes/Service/ContextAssemblyService.php
  Tests/Unit/Service/ContextAssemblyServiceTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: harden context zoom after 5-review-cycle audit
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/Service/ContextAssemblyService.php
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Service/ContextAssemblyServiceTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat(context-zoom): add ContextRequest DTO with validation
  Classes/Domain/DTO/ContextRequest.php
  Tests/Unit/Domain/DTO/ContextRequestTest.php
Due: php-unit, php-integration, php-e2e, php-functional

docs: add context zoom design and implementation plan
  docs/plans/2026-03-02-context-zoom-design.md
  docs/plans/2026-03-02-context-zoom.md
Due: none

feat(context-zoom): register context preview AJAX route and inject URL
  Classes/EventListener/InjectAjaxUrlsListener.php
  Configuration/Backend/AjaxRoutes.php
Due: php-unit, php-integration, php-e2e, php-functional

fix(context-zoom): add BE_USER permission checks, field validation, debounce
  Classes/Domain/DTO/ContextRequest.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/Service/ContextAssemblyService.php
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Service/ContextAssemblyServiceTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat(context-zoom): extract record context from CKEditor DOM
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/cowriter.test.js
Due: javascript

feat(context-zoom): replace radio buttons with context zoom slider in dialog
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

feat(context-zoom): add reference page picker to cowriter dialog
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

feat(context-zoom): add getContext and extend executeTask in AIService
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Tests/JavaScript/AIService.test.js
Due: javascript

Path conditions:
  php-unit: any of: Classes/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
  php-integration: any of: Classes/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
  php-e2e: any of: Classes/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
  php-functional: any of: Classes/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
  javascript: any of: Resources/Public/JavaScript/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
