Repository netresearch/t3x-cowriter: changes, and which Codecov flags are due for each by the changed paths.
All: php-unit, php-integration, php-e2e, php-functional, javascript

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  php-unit:
    paths:
      - Classes/
    carryforward: true
  php-integration:
    paths:
      - Classes/
    carryforward: true
  php-e2e:
    paths:
      - Classes/
    carryforward: true
  php-functional:
    paths:
      - Classes/
    carryforward: true
  javascript:
    paths:
      - Resources/Public/JavaScript/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

ignore:
  - "Tests/**/*"
  - ".Build/**/*"
  - "Documentation/**/*"
  - "Build/**/*"

docs: correct API/agent docs drift after nr-llm 0.22 upgrade
  AGENTS.md
  Classes/AGENTS.md
  Classes/Domain/DTO/CompleteResponse.php
  Documentation/Api/Index.rst
  Documentation/Introduction/Index.rst
Due: php-unit, php-integration, php-e2e, php-functional

refactor: extract shared rate-limit/JSON controller plumbing into a trait
  Classes/Controller/AjaxController.php
  Classes/Controller/RateLimitedControllerTrait.php
  Classes/Controller/TemplateController.php
  Classes/Controller/ToolController.php
  Classes/Controller/TranslationController.php
Due: php-unit, php-integration, php-e2e, php-functional

test: cover ToolController tool allow-list resolution
  Tests/Unit/Controller/ToolControllerTest.php
Due: none

feat: use VisionOptions::altText() preset for the alt-text endpoint
  Classes/Controller/VisionController.php
Due: php-unit, php-integration, php-e2e, php-functional

refactor: extract addRateLimitHeaders() to remove the header-copy loop
  Classes/Controller/AjaxController.php
  Classes/Controller/RateLimitedControllerTrait.php
Due: php-unit, php-integration, php-e2e, php-functional

feat: run tool calling through nr-llm's tool loop against a configuration
  Classes/Controller/ToolController.php
  Classes/Domain/DTO/ToolRequest.php
  Classes/Service/Tool/ToolLoopRunner.php
  Classes/Service/Tool/ToolLoopRunnerInterface.php
  Configuration/Services.yaml
  Tests/Unit/Controller/ToolControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

chore: drop redundant ContentQueryTool in favour of nr-llm builtins
  Classes/Tools/ContentQueryTool.php
  Tests/Unit/Tools/ContentQueryToolTest.php
Due: php-unit, php-integration, php-e2e, php-functional

refactor: inject nr-llm ToolLoopServiceInterface, drop the local seam
  Classes/Controller/ToolController.php
  Classes/Service/Tool/ToolLoopRunner.php
  Classes/Service/Tool/ToolLoopRunnerInterface.php
  Configuration/Services.yaml
  Tests/Unit/Controller/ToolControllerTest.php
  composer.json
  ext_emconf.php
Due: php-unit, php-integration, php-e2e, php-functional

chore(release): 3.3.0
  CHANGELOG.md
  ext_emconf.php
Due: none

feat(backend): register dedicated dark-mode-aware module icon
  Configuration/Backend/Modules.php
  Configuration/Icons.php
  Resources/AGENTS.md
  Resources/Public/Icons/Module.svg
  Resources/Public/Icons/ModuleIcon.legacy.svg
  Resources/Public/Icons/ModuleIcon.svg
Due: none

refactor(icons): clean up extension icon and CKEditor toolbar SVG
  Resources/Public/Icons/Extension.svg
  Resources/Public/JavaScript/Ckeditor/cowriter.js
Due: javascript

chore: release v3.4.0
  Documentation/guides.xml
  ext_emconf.php
Due: none

fix(docs): repair guides.xml and add docs render CI
  .github/workflows/docs.yml
  Documentation/guides.xml
  ext_emconf.php
Due: none

feat!: require nr-llm ^0.25 and run the tool loop under an explicit actor
  CHANGELOG.md
  Classes/Controller/ToolController.php
  Documentation/guides.xml
  Tests/Unit/Controller/ToolControllerTest.php
  composer.json
  ext_emconf.php
Due: php-unit, php-integration, php-e2e, php-functional

ci: add gitleaks and zizmor scanners to checks.yml
  .github/workflows/checks.yml
Due: none

ci: add zizmor config exempting first-party reusables
  .github/zizmor.yml
Due: none

ci: drop the deprecated GITLEAKS_LICENSE secret mapping
  .github/workflows/checks.yml
Due: none

docs: sync the scanner wording from the template
  .github/zizmor.yml
Due: none

chore(zizmor): drop the local policy copy, the reusable supplies it
  .github/zizmor.yml
Due: none

ci: sync labeler fork-PR fix from typo3-extension template
  .github/workflows/checks.yml
  .github/workflows/labeler.yml
Due: none

docs: state the commit-signing requirement where contributors look
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

docs: use --global on the signing-key setup commands
  AGENTS.md
  CONTRIBUTING.md
Due: none

ci: sync checks.yml gate job from the org template
  .github/workflows/checks.yml
Due: none

ci: sync checks.yml from the org template (codeql auto, gate docs)
  .github/workflows/checks.yml
Due: none

ci: sync with netresearch/.github templates/typo3-extension
  .github/workflows/checks.yml
Due: none

Only turn http(s) URLs into the setup-status link
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
Due: javascript

test: cover the status-link URL scheme guard
  Tests/JavaScript/CowriterDialog.test.js
Due: none

chore(deps): require nr-llm ^0.26.0
  README.md
  composer.json
Due: none

docs: move the debug-details JSDoc back above its method
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
Due: javascript

fix: restrict the setup-status link to our own origin
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

fixup: extract shared response builder, use LlmTranslator::IDENTIFIER
  CHANGELOG.md
  Classes/Controller/TranslationController.php
  Tests/Unit/Controller/TranslationControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

test(translation): dedupe controller/response-shape boilerplate, add real-registry coverage
  Tests/Unit/Controller/TranslationControllerTest.php
Due: none

docs(changelog): reconcile the nr-llm requirement with the shipped release
  CHANGELOG.md
Due: none

feat(translation): prefer a specialized translator on the quick-translate action
  CHANGELOG.md
  Classes/Controller/TranslationController.php
  Tests/Unit/Controller/TranslationControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

chore(release): 3.6.0
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

fix: resolve the setup-status href locally instead of from the payload
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

build(deps): require nr-llm ^0.28
  composer.json
Due: none

chore(release): 3.6.1
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

chore(release): 3.6.2
  CHANGELOG.md
  Documentation/guides.xml
  composer.json
  ext_emconf.php
Due: none

docs: option 1 described a mechanism the extension does not register
  Documentation/Configuration/Index.rst
Due: none
