Repository netresearch/t3x-cowriter: changes, and which Codecov flags are due for each by the changed paths.
All: php-unit, php-integration, php-e2e, php-functional, javascript

ci: run functional tests only in ci.yml
  .github/workflows/testing.yml
  AGENTS.md
Due: none

fix: keep other workspaces and page instructions out of suggestions
  CHANGELOG.md
  Classes/Controller/FieldSuggestionController.php
  Classes/Service/FieldSuggestion/FieldSuggestionException.php
  Classes/Service/FieldSuggestion/FieldSuggestionService.php
  Classes/Service/FieldSuggestion/RecordContext.php
  Classes/Service/FieldSuggestion/RecordContextReader.php
  Classes/Service/FieldSuggestion/RecordFinder.php
  Classes/Service/FieldSuggestion/UntrustedDataFence.php
  Documentation/Configuration/Index.rst
  Documentation/Usage/Index.rst
  Resources/Public/JavaScript/FormEngine/FieldSuggestions.js
  Tests/Functional/FieldSuggestion/FieldSuggestionControllerTest.php
  Tests/Functional/FieldSuggestion/FieldSuggestionWithSeoTest.php
  Tests/Functional/FieldSuggestion/FieldSuggestionWorkspaceTest.php
  Tests/Functional/FieldSuggestion/Fixtures/workspaces.csv
  Tests/JavaScript/FieldSuggestions.test.js
  Tests/Unit/Controller/FieldSuggestionControllerTest.php
  Tests/Unit/Service/FieldSuggestion/FieldSuggestionServiceTest.php
  Tests/Unit/Service/FieldSuggestion/RecordContextReaderTest.php
  Tests/Unit/Service/FieldSuggestion/UntrustedDataFenceTest.php
  composer.json
  docs/ARCHITECTURE.md
Due: php-unit, php-integration, php-e2e, php-functional, javascript

ci: let Extended Testing run the functional suite again
  .github/workflows/testing.yml
  AGENTS.md
  Build/phpunit/FunctionalTests.xml
Due: none

fix: strip quotes and dashes without breaking multi-byte text
  Classes/Service/FieldSuggestion/SuggestionNormalizer.php
  Tests/Unit/Service/FieldSuggestion/SuggestionNormalizerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: make the precedence of the quote-stripping regex explicit
  Classes/Service/FieldSuggestion/SuggestionNormalizer.php
  Tests/Unit/Service/FieldSuggestion/RecordContextReaderTest.php
Due: php-unit, php-integration, php-e2e, php-functional

chore(release): 3.7.0
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

feat: ship German translations for the backend labels
  CHANGELOG.md
  Classes/Controller/FieldSuggestionController.php
  Classes/Service/FieldSuggestion/FieldSuggestionException.php
  Documentation/Images/Usage/FieldSuggestionsSeoTitle.png
  Documentation/Usage/Index.rst
  Resources/AGENTS.md
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/de.locallang_mod_status.xlf
  Resources/Private/Templates/Backend/Status/Index.html
  Tests/AGENTS.md
  Tests/Functional/FieldSuggestion/FieldSuggestionControllerTest.php
  Tests/Functional/FieldSuggestion/FieldSuggestionWithSeoTest.php
  Tests/Functional/FieldSuggestion/FieldSuggestionWorkspaceTest.php
  Tests/Functional/Localization/GermanLabelsTest.php
  Tests/Support/XliffFile.php
  Tests/Unit/Controller/FieldSuggestionControllerTest.php
  Tests/Unit/Localization/GermanTranslationTest.php
Due: php-unit, php-integration, php-e2e, php-functional

chore(release): 3.8.0
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

feat: choose the LLM configuration in the dialog, check access on every route
  CHANGELOG.md
  Classes/Controller/AjaxController.php
  Classes/Controller/FieldSuggestionController.php
  Classes/Controller/ToolController.php
  Classes/Controller/TranslationController.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Classes/Service/ConfigurationSelector.php
  Classes/Service/Dto/ConfigurationSelection.php
  Documentation/Usage/Index.rst
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/locallang_be.xlf
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/E2E/NewFeatureWorkflowTest.php
  Tests/Functional/Configuration/ConfigurationSelectorTest.php
  Tests/Functional/Configuration/Fixtures/configuration_access.csv
  Tests/Functional/FieldSuggestion/FieldSuggestionControllerTest.php
  Tests/Functional/FieldSuggestion/FieldSuggestionWithSeoTest.php
  Tests/Functional/FieldSuggestion/FieldSuggestionWorkspaceTest.php
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/Integration/Controller/TranslationControllerIntegrationTest.php
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Support/ConfigurationAccessDouble.php
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Controller/FieldSuggestionControllerTest.php
  Tests/Unit/Controller/ToolControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Service/ConfigurationSelectorTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

test: active configurations in the integration and E2E suites
  Tests/E2E/AbstractE2ETestCase.php
  Tests/Integration/AbstractIntegrationTestCase.php
  Tests/Support/ConfigurationAccessDouble.php
Due: none

fix: refuse an inactive task configuration instead of running it
  CHANGELOG.md
  Classes/Service/ConfigurationSelector.php
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/locallang_be.xlf
  Tests/Unit/Service/ConfigurationSelectorTest.php
Due: php-unit, php-integration, php-e2e, php-functional

refactor: split the task call preparation into small steps
  Classes/Controller/AjaxController.php
  Classes/Controller/TaskCallRefusedException.php
  Tests/Unit/Controller/AjaxControllerStreamTest.php
Due: php-unit, php-integration, php-e2e, php-functional

feat: stream the answer into the Cowriter dialog
  CHANGELOG.md
  Classes/Controller/AjaxController.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Classes/Service/EventStream/EventStreamEmitterInterface.php
  Classes/Service/EventStream/ServerSentEventEmitter.php
  Configuration/Backend/AjaxRoutes.php
  Configuration/Services.yaml
  Documentation/Usage/Index.rst
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Support/RecordingEventStream.php
  Tests/Unit/Controller/AjaxControllerStreamTest.php
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
  Tests/Unit/Service/EventStream/ServerSentEventEmitterTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: audience, tone and length choices in the Cowriter dialog
  CHANGELOG.md
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Classes/Service/Style/StyleInstruction.php
  Classes/Service/Style/StyleInstructionBuilder.php
  Classes/Service/Style/TargetLengthResolver.php
  Classes/Service/Style/TargetLengthResolverInterface.php
  Configuration/Backend/AjaxRoutes.php
  Configuration/Services.yaml
  Documentation/Configuration/Index.rst
  Documentation/Usage/Index.rst
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/locallang_be.xlf
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/Functional/Style/Fixtures/target_length.csv
  Tests/Functional/Style/TargetLengthResolverTest.php
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Controller/AjaxControllerStreamTest.php
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
  Tests/Unit/Service/Style/StyleInstructionBuilderTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: two or three versions of an answer in the Cowriter dialog
  CHANGELOG.md
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Documentation/Usage/Index.rst
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/locallang_be.xlf
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Controller/AjaxControllerVariantsTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: editors save their own prompts in the Cowriter dialog
  CHANGELOG.md
  Classes/Controller/SavedPromptController.php
  Classes/Domain/DTO/SavePromptRequest.php
  Classes/Domain/DTO/SavedPrompt.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Classes/Service/Prompt/PromptSharingConfiguration.php
  Classes/Service/Prompt/SavedPromptRepository.php
  Configuration/Backend/AjaxRoutes.php
  Configuration/Services.yaml
  Configuration/TCA/tx_cowriter_prompt.php
  Documentation/Configuration/Index.rst
  Documentation/Usage/Index.rst
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/locallang_be.xlf
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/Functional/Prompt/Fixtures/prompts_and_users.csv
  Tests/Functional/Prompt/SavedPromptControllerTest.php
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Domain/DTO/SavePromptRequestTest.php
  Tests/Unit/Service/Prompt/PromptSharingConfigurationTest.php
  ext_conf_template.txt
  ext_tables.sql
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: tools that need no approval in the Cowriter dialog
  CHANGELOG.md
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Classes/Service/Tool/ToolNeedsApprovalException.php
  Classes/Service/Tool/UnattendedToolRunner.php
  Documentation/Usage/Index.rst
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/locallang_be.xlf
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Controller/AjaxControllerToolsTest.php
  Tests/Unit/Service/Tool/UnattendedToolRunnerTest.php
  composer.json
  ext_emconf.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: keep the error guidance in the stream and reject a cut-off answer
  Classes/Controller/AjaxController.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/locallang_be.xlf
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Tests/JavaScript/AIService.test.js
  Tests/Unit/Controller/AjaxControllerStreamTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: a sent version count of 0 is an invalid request
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Tests/Unit/Controller/AjaxControllerVariantsTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: one request per click on the saved-prompt buttons
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

chore(release): 3.9.0
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

test: share the task-route controller setup of two unit tests
  Tests/Support/TaskRouteControllerTrait.php
  Tests/Unit/Controller/AjaxControllerToolsTest.php
  Tests/Unit/Controller/AjaxControllerVariantsTest.php
Due: none

fix: a tools request answers once, also when it asks for versions
  Classes/Controller/AjaxController.php
  Tests/Unit/Controller/AjaxControllerToolsTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: find the modal buttons by their name attribute
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/__mocks__/typo3-backend-modal.js
Due: javascript

build: scope SonarCloud like nr-llm and nr_repurpose
  .gitattributes
  .sonarcloud.properties
Due: none

chore(release): 3.10.0
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

fix: hide Reset and Insert once the modal has rendered its buttons
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/__mocks__/typo3-backend-modal.js
Due: javascript

chore(release): 3.10.1
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

fix: create the dialog's icons and styles in the modal's document
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/__mocks__/typo3-backend-modal.js
Due: javascript

fix: add the dialog styles once per document across module loads
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/__mocks__/typo3-backend-modal.js
Due: javascript

fix: copy fallback without a clipboard API, and clean up when it fails
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

fix: refresh stale dialog styles and copy through the modal's clipboard
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

fix: show "Copied!" only when the execCommand fallback copied
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

fix: keyboard and focus in the Cowriter dialog
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

fix: page search as a combobox, focus into the editor after closing
  CHANGELOG.md
  Classes/EventListener/InjectAjaxUrlsListener.php
  Resources/Private/Language/de.locallang_be.xlf
  Resources/Private/Language/locallang_be.xlf
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/cowriter.test.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

Path conditions:
  php-unit: any of: Classes/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
  php-integration: any of: Classes/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
  php-e2e: any of: Classes/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
  php-functional: any of: Classes/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
  javascript: any of: Resources/Public/JavaScript/, but not: Tests/**/*, .Build/**/*, Documentation/**/*, Build/**/*
