Repository netresearch/t3x-cowriter: changes, and which Codecov flags are due for each by the changed paths.
All: php-unit, php-integration, php-e2e, php-functional, javascript

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  php-unit:
    paths:
      - Classes/
    carryforward: true
  php-integration:
    paths:
      - Classes/
    carryforward: true
  php-e2e:
    paths:
      - Classes/
    carryforward: true
  php-functional:
    paths:
      - Classes/
    carryforward: true
  javascript:
    paths:
      - Resources/Public/JavaScript/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

ignore:
  - "Tests/**/*"
  - ".Build/**/*"
  - "Documentation/**/*"
  - "Build/**/*"

fix: pending searches, list presses, wrapping and forced colors
  CHANGELOG.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: javascript

ci: sync with netresearch/.github templates/typo3-extension
  .github/workflows/checks.yml
Due: none

chore(release): 3.10.2
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

docs(contributing): link the organisation governance and security policies
  CONTRIBUTING.md
Due: none

docs: add a security assurance case
  CONTRIBUTING.md
  README.md
  docs/SECURITY-ASSURANCE.md
Due: none

docs(security): state the supported version and the output handling as they are
  SECURITY.md
Due: none

docs: list the 18 AJAX routes and the unescaped output contract
  AGENTS.md
  Classes/AGENTS.md
  docs/ARCHITECTURE.md
Due: php-unit, php-integration, php-e2e, php-functional

docs: link the nr-llm backend module by its current label
  Documentation/Configuration/Index.rst
Due: none

docs: state where the browser takes its route URLs and which tools it offers
  docs/SECURITY-ASSURANCE.md
Due: none

chore(ci): sync typo3-extension template
  .github/labeler.yml
  .github/workflows/auto-merge-deps.yml
  .github/workflows/check-template-drift.yml
  .github/workflows/checks.yml
  .github/workflows/community.yml
  .github/workflows/labeler.yml
Due: none

docs(security): align the assurance case with the call and route code
  docs/SECURITY-ASSURANCE.md
Due: none

test: drop the unused password hashes from two be_users fixtures
  Tests/Functional/Configuration/Fixtures/configuration_access.csv
  Tests/Functional/Style/Fixtures/target_length.csv
Due: none

fix: lead the composer description with the extension title
  composer.json
Due: none

fix(backend): charge tool-loop calls to the backend user's budget
  Classes/AGENTS.md
  Classes/Controller/ToolController.php
  Classes/Service/Tool/UnattendedToolRunner.php
  Tests/Unit/Controller/ToolControllerTest.php
  Tests/Unit/Service/Tool/UnattendedToolRunnerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix(frontend): sanitise translations and limit image sources
  Configuration/JavaScriptModules.php
  Resources/AGENTS.md
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/HtmlSanitizer.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/HtmlSanitizer.test.js
  Tests/JavaScript/cowriter.test.js
  docs/ARCHITECTURE.md
  docs/SECURITY-ASSURANCE.md
  vitest.config.js
Due: javascript

fix(backend): read the task context with the editor's full read rights
  Classes/Service/ContextAssemblyService.php
  Classes/Service/FieldSuggestion/RecordFinder.php
  Tests/Functional/Context/ContextAssemblyServiceTest.php
  Tests/Functional/Context/Fixtures/permissions.csv
  Tests/Unit/Service/ContextAssemblyServiceTest.php
  docs/SECURITY-ASSURANCE.md
Due: php-unit, php-integration, php-e2e, php-functional

docs(tests): list the context and sanitiser test suites
  Tests/AGENTS.md
Due: none

docs(changelog): record the context, sanitiser and budget fixes
  CHANGELOG.md
Due: none

fix(backend): walk the ancestors in the user's workspace tree
  Classes/Service/ContextAssemblyService.php
  Tests/Functional/Context/ContextAssemblyServiceTest.php
  Tests/Functional/Context/Fixtures/workspace_move.csv
  Tests/Unit/Service/ContextAssemblyServiceTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix(backend): place content moved in a workspace on its new page
  Classes/Service/ContextAssemblyService.php
  Classes/Service/FieldSuggestion/RecordFinder.php
  Tests/Functional/Context/ContextAssemblyServiceTest.php
  Tests/Functional/Context/Fixtures/content_move.csv
  docs/SECURITY-ASSURANCE.md
Due: php-unit, php-integration, php-e2e, php-functional

fix(backend): list a content element reordered in a workspace once
  Classes/Service/FieldSuggestion/RecordFinder.php
  Tests/Functional/Context/ContextAssemblyServiceTest.php
  Tests/Functional/Context/Fixtures/same_page_move.csv
Due: php-unit, php-integration, php-e2e, php-functional

fix(backend): judge visibility on the row the workspace shows
  Classes/Service/FieldSuggestion/RecordFinder.php
  Tests/Functional/Context/ContextAssemblyServiceTest.php
  Tests/Functional/Context/Fixtures/visibility.csv
Due: php-unit, php-integration, php-e2e, php-functional

fix(backend): cap the page content after the visibility check
  Classes/Service/FieldSuggestion/RecordFinder.php
  Tests/Functional/Context/ContextAssemblyServiceTest.php
  Tests/Functional/Context/Fixtures/many_hidden.csv
Due: php-unit, php-integration, php-e2e, php-functional

fix(backend): filter the context by language before the element cap
  Classes/Service/ContextAssemblyService.php
  Tests/Functional/Context/ContextAssemblyServiceTest.php
  Tests/Functional/Context/Fixtures/many_translations.csv
Due: php-unit, php-integration, php-e2e, php-functional

chore(release): 3.10.3
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

chore: use one extension title everywhere
  Documentation/Index.rst
  Documentation/guides.xml
  README.md
  composer.json
  ext_emconf.php
Due: none

test: answer structured calls through nr-llm's FakeCompletionService
  Tests/Unit/Controller/AjaxControllerToolsTest.php
  Tests/Unit/Controller/AjaxControllerVariantsTest.php
Due: none

test: unwrap a response object on either nr-llm line
  Classes/Service/StructuredAnswer.php
  README.md
  Tests/Unit/Service/StructuredAnswerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

feat: accept nr-llm 0.39 next to 0.38
  Classes/Controller/AjaxController.php
  Classes/Service/FieldSuggestion/FieldSuggestionService.php
  Classes/Service/StructuredAnswer.php
  Tests/Unit/Service/StructuredAnswerTest.php
  composer.json
  ext_emconf.php
Due: php-unit, php-integration, php-e2e, php-functional

ci: keep nr-llm 0.38 under test next to 0.39
  .github/workflows/ci.yml
Due: none

chore(release): 3.11.0
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

build(composer): accept the svg-sanitize advisories TYPO3 core pins
  composer.json
Due: none

chore(release): 3.12.0
  CHANGELOG.md
  Documentation/guides.xml
  README.md
  composer.json
  ext_emconf.php
Due: none
