Repository netresearch/t3x-cowriter: changes, and which Codecov flags are due for each by the changed paths.
All: php-unit, php-integration, php-e2e, php-functional, javascript

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  php-unit:
    paths:
      - Classes/
    carryforward: true
  php-integration:
    paths:
      - Classes/
    carryforward: true
  php-e2e:
    paths:
      - Classes/
    carryforward: true
  php-functional:
    paths:
      - Classes/
    carryforward: true
  javascript:
    paths:
      - Resources/Public/JavaScript/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

ignore:
  - "Tests/**/*"
  - ".Build/**/*"
  - "Documentation/**/*"
  - "Build/**/*"

fix: address PR review comments (sanitizer, listener cleanup, a11y)
  Classes/Controller/AjaxController.php
  Resources/Public/Css/Cowriter.css
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: add actionable links in error notifications
  Classes/EventListener/InjectAjaxUrlsListener.php
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/UrlLoader.test.js
  Tests/JavaScript/cowriter.test.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

docs: fix dialog buttons and document all scope options
  Documentation/Usage/Index.rst
Due: none

fix: address PR review comments (round 3)
  Classes/Controller/AjaxController.php
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/cowriter.test.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: show user-friendly guidance when LLM provider is not configured
  Classes/Controller/AjaxController.php
  Classes/Controller/TranslationController.php
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: make error notifications persistent (duration 0)
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/cowriter.test.js
Due: javascript

feat: add "Edit tasks" link in cowriter dialog
  Classes/EventListener/InjectAjaxUrlsListener.php
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/UrlLoader.test.js
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: dialog UX improvements with scope dropdown, debug info, and page search
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/CompleteResponse.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Configuration/Backend/AjaxRoutes.php
  Resources/Public/Css/Cowriter.css
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/E2E/context-zoom.spec.ts
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/UrlLoader.test.js
  Tests/JavaScript/__mocks__/ckeditor5-ui.js
  Tests/JavaScript/__mocks__/ckeditor5-utils.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
  docs/plans/2026-03-02-context-zoom-design.md
  docs/plans/2026-03-02-context-zoom.md
  docs/plans/2026-03-02-visual-enhancement.md
  docs/plans/2026-03-04-dialog-redesign-plan.md
  docs/plans/2026-03-04-dialog-redesign.md
  vitest.config.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: resolve promise leak and abort state in CowriterDialog
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/__mocks__/typo3-backend-modal.js
Due: javascript

feat: show debug error details in cowriter dialog
  Classes/Controller/AjaxController.php
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

test: achieve 100% patch coverage for dialog UX changes
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
Due: none

fix: improve thinking fallback heuristic and update doc comments
  Classes/Domain/DTO/CompleteResponse.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
Due: php-unit, php-integration, php-e2e, php-functional

test: add E2E tests for translate, tasks, vision, and dialog
  Tests/E2E/cowriter-dialog.spec.ts
  Tests/E2E/tasks-dropdown.spec.ts
  Tests/E2E/toolbar-buttons.spec.ts
  Tests/E2E/translate.spec.ts
  Tests/E2E/vision.spec.ts
Due: none

fix: resolve CI failures and use PageSearchResult DTO
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/PageSearchResult.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: kill mutation testing escapes and fix window.open tabnabbing
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/Unit/Controller/AjaxControllerTest.php
Due: javascript

chore: prepare v3.0.0 release
  .gitignore
  CHANGELOG.md
  Documentation/guides.xml
  docs/plans/2026-03-02-context-zoom-design.md
  docs/plans/2026-03-02-context-zoom.md
  docs/plans/2026-03-02-visual-enhancement-design.md
  docs/plans/2026-03-02-visual-enhancement.md
  docs/plans/2026-03-04-dialog-redesign-plan.md
  docs/plans/2026-03-04-dialog-redesign.md
  ext_emconf.php
  package.json
Due: none

fix: add .gitattributes for TER packaging
  .gitattributes
  composer.json
Due: none

fix: remove declare(strict_types=1) from ext_emconf.php
  Build/.php-cs-fixer.dist.php
  ext_emconf.php
Due: none

refactor: integrate typo3-ci-workflows as composer package
  .gitattributes
  Build/.php-cs-fixer.dist.php
  Build/phpstan.neon
  Build/rector.php
  Makefile
  composer.json
Due: none

docs: fix version references and improve guides.xml
  Documentation/Installation/Index.rst
  Documentation/Sitemap.rst
  Documentation/guides.xml
  README.md
Due: none

docs: replace outdated v11 screenshots with fresh TYPO3 v14 captures
  Documentation/Configuration/Index.rst
  Documentation/Images/CowriterDialog.png
  Documentation/Images/CowriterDialogCropped.png
  Documentation/Images/CowriterHero.png
  Documentation/Images/CowriterToolbarButton.png
  Documentation/Images/pagetsconfig.png
  Documentation/Images/t3-cowriter.gif
  Documentation/Index.rst
  README.md
Due: none

docs: use interlink references for nr-llm documentation
  Documentation/Configuration/Index.rst
  Documentation/Index.rst
  Documentation/Installation/Index.rst
  Documentation/Introduction/Index.rst
  Documentation/Usage/Index.rst
  Documentation/guides.xml
Due: none

test: improve mutation score from 82% to 85%+
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
  Tests/Unit/Domain/DTO/TranslationRequestTest.php
  Tests/Unit/Service/ContextAssemblyServiceTest.php
Due: none

fix: apply code style fixes
  Tests/Unit/Controller/AjaxControllerTest.php
Due: none

fix: remove unnecessary @phpstan-ignore method.nonObject
  Classes/Service/DiagnosticService.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: guard diagnosticService.runFirst() in exception handlers
  Classes/Controller/AjaxController.php
  Classes/Controller/TranslationController.php
Due: php-unit, php-integration, php-e2e, php-functional

chore: exclude untestable files from codecov patch coverage
  codecov.yml
Due: none

fix: update E2E tests for new controller constructor parameters
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/E2E/NewFeatureWorkflowTest.php
Due: none

fix: return Uri objects from BackendUriBuilder mocks
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/E2E/NewFeatureWorkflowTest.php
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/Integration/Controller/Backend/StatusControllerIntegrationTest.php
  Tests/Integration/Controller/TranslationControllerIntegrationTest.php
Due: none

feat: add diagnostic service and setup status module
  Classes/Controller/AjaxController.php
  Classes/Controller/Backend/StatusController.php
  Classes/Controller/TranslationController.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Classes/Service/DiagnosticService.php
  Classes/Service/Dto/DiagnosticCheck.php
  Classes/Service/Dto/DiagnosticResult.php
  Classes/Service/Dto/Severity.php
  Configuration/Backend/Modules.php
  Resources/Private/Language/locallang_mod_status.xlf
  Resources/Private/Templates/Backend/Status/Index.html
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Service/DiagnosticServiceTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

Revert "test: achieve full patch coverage for new code"
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Controller/Backend/StatusControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Service/Dto/DiagnosticCheckTest.php
  Tests/Unit/Service/Dto/DiagnosticResultTest.php
Due: none

fix: add blank lines before return in DiagnosticService
  Classes/Service/DiagnosticService.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: address remaining review comments, add StatusController tests
  Classes/Controller/AjaxController.php
  Classes/Controller/TranslationController.php
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/Integration/Controller/Backend/StatusControllerIntegrationTest.php
  Tests/Integration/Controller/TranslationControllerIntegrationTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: apply code style, rector, and phpstan fixes
  Classes/Controller/AjaxController.php
  Classes/Controller/Backend/StatusController.php
  Classes/Controller/TranslationController.php
  Classes/Service/DiagnosticService.php
  Classes/Service/Dto/DiagnosticResult.php
  Classes/Service/Dto/Severity.php
  Configuration/Backend/Modules.php
  Tests/Unit/Service/DiagnosticServiceTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: resolve PHPStan @var Countable and CGL import ordering
  Classes/Controller/AjaxController.php
  Classes/Controller/TranslationController.php
  Classes/Service/DiagnosticService.php
Due: php-unit, php-integration, php-e2e, php-functional

test: add test for empty active providers in checkProviderHasApiKey
  Tests/Unit/Service/DiagnosticServiceTest.php
Due: none

test: strengthen assertions to improve mutation score
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Service/DiagnosticServiceTest.php
Due: none

fix: address all PR review comments
  Classes/Controller/AjaxController.php
  Classes/Controller/TranslationController.php
  Classes/Service/DiagnosticService.php
  Configuration/Services.yaml
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: add CoversClass for DTOs so PCOV attributes coverage correctly
  Tests/Unit/Service/DiagnosticServiceTest.php
  codecov.yml
Due: none

test: achieve full patch coverage for new code
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Controller/Backend/StatusControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Service/Dto/DiagnosticCheckTest.php
  Tests/Unit/Service/Dto/DiagnosticResultTest.php
Due: none
