Repository netresearch/t3x-cowriter: changes, and which Codecov flags are due for each by the changed paths.
All: php-unit, php-integration, php-e2e, php-functional, javascript

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  php-unit:
    paths:
      - Classes/
    carryforward: true
  php-integration:
    paths:
      - Classes/
    carryforward: true
  php-e2e:
    paths:
      - Classes/
    carryforward: true
  php-functional:
    paths:
      - Classes/
    carryforward: true
  javascript:
    paths:
      - Resources/Public/JavaScript/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

ignore:
  - "Tests/**/*"
  - ".Build/**/*"
  - "Documentation/**/*"
  - "Build/**/*"

chore: add cowriter task seed data and ddev setup commands
  .ddev/commands/host/seed-cowriter-tasks
  .ddev/commands/web/install-v13
  .ddev/commands/web/install-v14
  .ddev/sql/seed-cowriter-tasks.sql
Due: none

feat(context-zoom): extend ExecuteTaskRequest with contextScope, recordContext, referencePages
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix(e2e): adapt tests to TYPO3 v14 iframe + dialog architecture
  Tests/E2E/context-zoom.spec.ts
  Tests/E2E/fixtures/auth.ts
Due: none

fix: import Font and Highlight CKEditor modules in RTE preset
  Configuration/RTE/Cowriter.yaml
Due: none

feat(context-zoom): extend executeTaskAction with server-side context assembly
  Classes/Controller/AjaxController.php
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

test(e2e): add Playwright E2E tests for context zoom feature
  .gitignore
  Tests/E2E/context-zoom.spec.ts
  Tests/E2E/fixtures/auth.ts
  package.json
  playwright.config.ts
Due: none

feat: add task-based cowriter dialog with execute endpoints
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Configuration/Backend/AjaxRoutes.php
  Configuration/JavaScriptModules.php
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/UrlLoader.test.js
  Tests/JavaScript/__mocks__/ckeditor5-core.js
  Tests/JavaScript/__mocks__/ckeditor5-ui.js
  Tests/JavaScript/__mocks__/typo3-backend-modal.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
  vitest.config.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat(context-zoom): add getContextAction endpoint for context preview
  Classes/Controller/AjaxController.php
  Classes/Service/ContextAssemblyService.php
  Classes/Service/ContextAssemblyServiceInterface.php
  Configuration/Services.yaml
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

style: apply php-cs-fixer formatting to context-zoom files
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/ContextRequestTest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: apply rector and code style fixes after rebase
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/Service/ContextAssemblyService.php
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: address Copilot review comments and fix E2E/integration CI
  Configuration/page.tsconfig
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/JavaScript/UrlLoader.test.js
Due: javascript

fix: add server-side XSS escaping and prevent double CI execution
  .github/workflows/ci.yml
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/CompleteResponse.php
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: improve mutation test coverage and add frontend entity decoding
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/ContextRequestTest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
  Tests/Unit/Service/ContextAssemblyServiceTest.php
Due: javascript

fix: promote ad-hoc rules to system message for higher LLM authority
  Classes/Controller/AjaxController.php
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

fix: remove redundant htmlspecialchars from JSON API responses
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/CompleteResponse.php
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/E2E/CowriterWorkflowTest.php
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: update docblocks and remaining test assertions
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/CompleteResponse.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

feat: add vision, translation, and template controllers
  Classes/Controller/AjaxController.php
  Classes/Controller/TemplateController.php
  Classes/Controller/TranslationController.php
  Classes/Controller/VisionController.php
  Classes/Domain/DTO/TranslationRequest.php
  Classes/Domain/DTO/VisionRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Configuration/Backend/AjaxRoutes.php
  Configuration/Services.yaml
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Tests/Unit/Controller/TemplateControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Controller/VisionControllerTest.php
  Tests/Unit/Domain/DTO/TranslationRequestTest.php
  Tests/Unit/Domain/DTO/VisionRequestTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

test: add comprehensive E2E, integration, and JS tests for new endpoints
  Tests/E2E/NewFeatureWorkflowTest.php
  Tests/Integration/Controller/TemplateControllerIntegrationTest.php
  Tests/Integration/Controller/TranslationControllerIntegrationTest.php
  Tests/Integration/Controller/VisionControllerIntegrationTest.php
  Tests/JavaScript/AIService.test.js
  Tests/Unit/Domain/DTO/TranslationRequestTest.php
  Tests/Unit/Domain/DTO/VisionRequestTest.php
Due: none

feat: add tool calling controller and enhance completion response
  Classes/Controller/ToolController.php
  Classes/Domain/DTO/CompleteResponse.php
  Classes/Domain/DTO/ToolRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Classes/Tools/ContentQueryTool.php
  Configuration/Backend/AjaxRoutes.php
  Configuration/Services.yaml
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Tests/Unit/Controller/ToolControllerTest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
  Tests/Unit/Domain/DTO/ToolRequestTest.php
  Tests/Unit/Tools/ContentQueryToolTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: add vision, translation, and template toolbar items to CKEditor
  Configuration/RTE/Cowriter.yaml
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/__mocks__/ckeditor5-ui.js
  Tests/JavaScript/cowriter.test.js
Due: javascript

docs: update README and AGENTS.md for new features and architecture
  AGENTS.md
  README.md
Due: none

fix: address PR review comments and improve test coverage
  Classes/Controller/TemplateController.php
  Classes/Controller/ToolController.php
  Classes/Controller/TranslationController.php
  Classes/Controller/VisionController.php
  Classes/Domain/DTO/TranslationRequest.php
  Classes/Domain/DTO/VisionRequest.php
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/TemplateControllerTest.php
  Tests/Unit/Controller/ToolControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Controller/VisionControllerTest.php
  Tests/Unit/Domain/DTO/TranslationRequestTest.php
  Tests/Unit/Domain/DTO/VisionRequestTest.php
  codecov.yml
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: update E2E and integration tests for new controller signatures
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/NewFeatureWorkflowTest.php
  Tests/Integration/AbstractIntegrationTestCase.php
  Tests/Integration/Controller/TemplateControllerIntegrationTest.php
  Tests/Integration/Controller/TranslationControllerIntegrationTest.php
  Tests/Integration/Controller/VisionControllerIntegrationTest.php
Due: none

fix: address PR review - rate limit headers, input validation, and XSS fix
  Classes/Controller/TemplateController.php
  Classes/Controller/ToolController.php
  Classes/Controller/TranslationController.php
  Classes/Controller/VisionController.php
  Classes/Domain/DTO/ToolRequest.php
  Classes/Domain/DTO/TranslationRequest.php
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/__mocks__/ckeditor5-ui.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/TemplateControllerTest.php
  Tests/Unit/Controller/ToolControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Controller/VisionControllerTest.php
  Tests/Unit/Domain/DTO/ToolRequestTest.php
  Tests/Unit/Domain/DTO/TranslationRequestTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

test: add mutation-killing assertions to reach 85% covered MSI
  Tests/Unit/Controller/TemplateControllerTest.php
  Tests/Unit/Controller/ToolControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
  Tests/Unit/Controller/VisionControllerTest.php
  Tests/Unit/Domain/DTO/ToolRequestTest.php
  Tests/Unit/Domain/DTO/TranslationRequestTest.php
  Tests/Unit/Domain/DTO/VisionRequestTest.php
  Tests/Unit/Service/ContextAssemblyServiceTest.php
Due: none

fix: resolve PR review comments
  Classes/Domain/DTO/CompleteResponse.php
  Classes/Domain/DTO/ToolRequest.php
  Classes/Domain/DTO/VisionRequest.php
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
  Tests/Unit/Domain/DTO/ToolRequestTest.php
  Tests/Unit/Domain/DTO/VisionRequestTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

docs: add documentation for v2 features
  Documentation/Api/Index.rst
  Documentation/Configuration/Index.rst
  Documentation/Index.rst
  Documentation/Introduction/Index.rst
  Documentation/Usage/Index.rst
Due: none

test: kill escaped mutants for whitespace-only fields
  Tests/Unit/Controller/AjaxControllerTest.php
Due: none

style: fix blank line before statement
  Tests/Unit/Controller/AjaxControllerTest.php
Due: none

fix: address PR review comments (sanitizer, listener cleanup, a11y)
  Classes/Controller/AjaxController.php
  Resources/Public/Css/Cowriter.css
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/Integration/Controller/AjaxControllerIntegrationTest.php
  Tests/JavaScript/CowriterDialog.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: improve thinking fallback heuristic and update doc comments
  Classes/Domain/DTO/CompleteResponse.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
Due: php-unit, php-integration, php-e2e, php-functional

test: achieve 100% patch coverage for dialog UX changes
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
Due: none

feat: dialog UX improvements with scope dropdown, debug info, and page search
  Classes/Controller/AjaxController.php
  Classes/Domain/DTO/CompleteResponse.php
  Classes/Domain/DTO/ExecuteTaskRequest.php
  Classes/EventListener/InjectAjaxUrlsListener.php
  Configuration/Backend/AjaxRoutes.php
  Resources/Public/Css/Cowriter.css
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/E2E/AbstractE2ETestCase.php
  Tests/E2E/CowriterWorkflowTest.php
  Tests/E2E/context-zoom.spec.ts
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/UrlLoader.test.js
  Tests/JavaScript/__mocks__/ckeditor5-ui.js
  Tests/JavaScript/__mocks__/ckeditor5-utils.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Domain/DTO/CompleteResponseTest.php
  Tests/Unit/Domain/DTO/ExecuteTaskRequestTest.php
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
  docs/plans/2026-03-02-context-zoom-design.md
  docs/plans/2026-03-02-context-zoom.md
  docs/plans/2026-03-02-visual-enhancement.md
  docs/plans/2026-03-04-dialog-redesign-plan.md
  docs/plans/2026-03-04-dialog-redesign.md
  vitest.config.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: show debug error details in cowriter dialog
  Classes/Controller/AjaxController.php
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Tests/JavaScript/CowriterDialog.test.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

feat: add TYPO3 backend icons to dialog buttons
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
Due: javascript

feat: add "Edit tasks" link in cowriter dialog
  Classes/EventListener/InjectAjaxUrlsListener.php
  Resources/Public/JavaScript/Ckeditor/AIService.js
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/UrlLoader.js
  Tests/JavaScript/AIService.test.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/UrlLoader.test.js
  Tests/Unit/EventListener/InjectAjaxUrlsListenerTest.php
Due: php-unit, php-integration, php-e2e, php-functional, javascript

fix: show user-friendly guidance when LLM provider is not configured
  Classes/Controller/AjaxController.php
  Classes/Controller/TranslationController.php
  Tests/Unit/Controller/AjaxControllerTest.php
  Tests/Unit/Controller/TranslationControllerTest.php
Due: php-unit, php-integration, php-e2e, php-functional

feat: fix translate and tasks buttons, add user feedback
  Classes/Controller/TranslationController.php
  Classes/Domain/DTO/TranslationRequest.php
  Resources/Public/JavaScript/Ckeditor/CowriterDialog.js
  Resources/Public/JavaScript/Ckeditor/cowriter.js
  Tests/JavaScript/CowriterDialog.test.js
  Tests/JavaScript/__mocks__/typo3-backend-notification.js
  Tests/JavaScript/cowriter.test.js
  Tests/Unit/Controller/TranslationControllerTest.php
  vitest.config.js
Due: php-unit, php-integration, php-e2e, php-functional, javascript

docs: update translate, vision and tasks button documentation
  Documentation/Configuration/Index.rst
  Documentation/Usage/Index.rst
Due: none
